@charset "EUC-KR";

.form-control-plaintext.form-control-sm, .input-group-sm>.form-control-plaintext.form-control,
	.input-group-sm>.input-group-prepend>.form-control-plaintext.input-group-text,
	.input-group-sm>.input-group-append>.form-control-plaintext.input-group-text,
	.input-group-sm>.input-group-prepend>.form-control-plaintext.btn,
	.input-group-sm>.input-group-append>.form-control-plaintext.btn,
	.form-control-plaintext.form-control-lg, .input-group-lg>.form-control-plaintext.form-control,
	.input-group-lg>.input-group-prepend>.form-control-plaintext.input-group-text,
	.input-group-lg>.input-group-append>.form-control-plaintext.input-group-text,
	.input-group-lg>.input-group-prepend>.form-control-plaintext.btn,
	.input-group-lg>.input-group-append>.form-control-plaintext.btn {
	padding-right: 0;
	padding-left: 0
}

.btn-primary {
	color: #fff;
	background-color: #4582EC;
	border-color: #4582EC
}

.btn-primary:hover {
	color: #fff;
	background-color: #226be8;
	border-color: #1863e6
}

.btn-primary:focus, .btn-primary.focus {
	-webkit-box-shadow: 0 0 0 0.2rem rgba(69, 130, 236, 0.5);
	box-shadow: 0 0 0 0.2rem rgba(69, 130, 236, 0.5)
}

.btn-primary.disabled, .btn-primary:disabled {
	color: #fff;
	background-color: #4582EC;
	border-color: #4582EC
}

.btn-primary:not (:disabled ):not (.disabled ):active, .btn-primary:not
	(:disabled ):not (.disabled ).active, .show>.btn-primary.dropdown-toggle
	{
	color: #fff;
	background-color: #1863e6;
	border-color: #165edb
}

.btn-primary:not (:disabled ):not (.disabled ):active:focus,
	.btn-primary:not (:disabled ):not (.disabled ).active:focus, .show>.btn-primary.dropdown-toggle:focus
	{
	-webkit-box-shadow: 0 0 0 0.2rem rgba(69, 130, 236, 0.5);
	box-shadow: 0 0 0 0.2rem rgba(69, 130, 236, 0.5)
}